#terminal {
    max-width: 100%;
    line-height: 1.5;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-top: 3px;
}

.line {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 5px;
}

.prompt {
    color: #7a4d9c;
    flex-shrink: 0;
    font-weight: bold;
}

.input {
    flex-grow: 1;
    color: #f5ddff;
    background: none;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 1.5;
    padding: 0;
    font-size: medium;
    font-family: 'Source Code Pro', monospace !important;
}

.output {
    color: #d4d4d4;
    white-space: pre-wrap;
    margin-bottom: 3px;
}

.error {
    color: #d4d4d4;
}

.error-tag {
    color: #ff6b6b;
    font-weight: bold;
}

p {
    color: #aaaaaa;
    font-family: 'Source Code Pro', monospace;
    font-size: 80%;
}