.image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

.image-item {
    text-align: center;
    flex: 1;
}

.image-item img {
    max-width: 100%;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 60px !important;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

.header_span {
    font-size: 1rem;
    color: #aaaaaa;
    margin-left: 10px !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    span {
        text-align: left;
        width: 100%;
        margin-top: 10px;
        margin-left: 0px !important;
    }
}